<div id="footer">
<!-- Footer - copyrights, links, etc. -->
	<div class="biocaddie-footer">
            bioCADDIE is supported by the 
            <a href="http://grants.nih.gov/grants/guide/rfa-files/RFA-HL-14-031.html" target="_blank">
            <img src="/static/funded-by-nih.png" style="vertical-align: middle; margin-left:5px;"></a>
            through the NIH Big Data to Knowledge, Grant 1U24AI117966-01.<br>
            <strong><a class="biocaddie-links" href="http://www.nih.gov/" target="_blank">NIH</a></strong> . 
            <strong><a class="biocaddie-links" href="http://www.ucsd.edu/" target="_blank">UCSD</a></strong> .
            <strong><a class="biocaddie-links" href="http://healthsciences.ucsd.edu/som/medicine/divisions/dbmi/pages/default.aspx" target="_blank">DBMI</a></strong> . 
            <strong><a class="biocaddie-links" href="https://uth.edu/" target="_blank">UTHealth</a></strong> . 
            <strong><a class="biocaddie-links" href="https://sbmi.uth.edu" target="_blank">SBMI</a></strong>
	</div>
</div>