<!-- Website Header - such as logo, title, etc. -->
<div id="header">
	<div id="logo-box">
		<img src="/static/biocaddie-logo.png" width="200px" height="100px">
	</div>
	<div id="title-box">
		<h2>iSEE-DELVE</h2>
		An interactive search..
	</div>
	<!-- Search Box -->
	<div id="search-box">
		<div id="search-form">
			<div id="search-wrapper">
				<div>
					<input type="text" id="search-field" data-value="" name="search-text"> &nbsp;&nbsp;
					<button id="search-button" name="search-submit" value="Search">Search</button>
                    <input type="hidden" id="document-search" data-value="" name="document-search" value="1">
				</div>
				<!-- Javascript loaded search suggestions -->
				<div id="search-suggestions">
				</div>
			</div>
		</div>
	</div>
    <div id="document-search-indication">
    </div>
	<div id="clear-box">
	</div>
      
</div>